body,
html {
    width: 100%;
    height: 100%;
    background: #959595;
}

a, a:visited, a:hover, a::after, a:active {
    color: inherit;
    text-decoration: none;
    size: 5px;
}

#root {
    display: flex;
    justify-content: center;
}

.NavBar {
    margin-top: 25%;
}

.accounts {
    padding: 40px;
    margin: 10px;
    background: white;
}

.description {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: #959595;

    margin-bottom: 10px;
    margin-left: 40px;
}

.accountItem {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.balance {
    display: flex;
}

.up_account {
    padding: 40px;
    margin: 10px;
    background: white;
}

.up_account_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.up_account_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {
    padding: 30px;
    margin: 100px;
    background: white;
}

.input {
    margin: 15px 0;
}

.reg {
    margin-top: 20px;
}

.registration {
    padding: 30px;
    margin: 100px;
    background: white;
}

.up_account_form .MuiTextField-root {
    width: 300px;
}

.up_account_btn .MuiTextField-root {
    width: 100px;
}